.HeroContainer {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

.Image1 {
    background: url('../../images/flower-open.jpg') no-repeat center;
}

.Image2 {
    background: url('../../images/flower-close.jpg') no-repeat bottom;
    background-size: cover;
}

.HeroContainer::before {
  animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  /* background: url('../../images/flower-open.jpg') no-repeat bottom; */
  background-size: contain;
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.HeroContainer::after {
  animation: rotate-up 0.5s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  content: '';
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.Text {
  bottom: 20px;
  right: 20px;
  position: absolute;
  font-size: 1.8vw;
  font-weight: bold;
  color: #fff;

}

/* .Container {
  padding: 20px;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
} */

/* .Images, .Text {
  /* max-width: 500px; */
  /* height: 100%;
  width: 100%;
  display: inline-block;
  /* display: flex;
  flex-direction: column;
  justify-content: center; 
}

.Images {
  height: 50%;
  width: 100%;
} */
