.Container {
  padding: 10px;
  margin: 40px auto;
  width: 90%;
}

.Title {
  text-align: center;
  /* color: hsla(0, 0%, 13%, 0.8); */
  color: hsla(0, 0%, 0%, 0.8);
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.Content p {
  padding: 0 10px;
  text-align: justify; 
}