.Container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.Title {
  text-align: center;
  color: hsla(0, 0%, 0%, 0.8);
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  max-width: 550px;
}

.Content p {
  padding: 0 10px;
  text-align: center;
}