.Container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10px;
}

.Card {
  max-width: 320px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 15px;
  padding: 20px;
  color: hsla(0, 0%, 0%, 0.8);
}

.Card p {
  padding: 0;
  margin: 10px;
}

.Card a {
  color: hsla(0, 0%, 0%, 0.8);
  text-decoration: none;
}

.Card a:hover {
  text-decoration: underline;
  color: #2073ee;
  transition: .4s;
}

.Title {
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: bold;
  margin: 0;
}
